{% extends 'index.html'%}

{% block content %}

  <div class="row mg-x-30-force form-layout form-layout-1 br-section-wrapper">
      <div class="row">
          <h5 class="tx-xs-xthin tx-primary pd-l-15 tx-teal">Edit Info: {{member}}</h5>
      </div>


      <div class="">
                             <div class="col-sm-3">
                                     {{ member.date_of_birth }}
                             </div>

                            <div class="col-sm-3">
                                     {{ member.date_of_birth }}
                             </div>

                            <div class="col-sm-3">
                                     {{ member.date_of_birth }}
                             </div>
                        </div>






            </div>


{%endblock%}