{% extends 'index.html' %}
{% load static %}

{% block content %}

    {% include 'shared/table-card-header.html' with header_title="Groups" action_url='create-group' action_button_1='Add New' dbtn=dbtn only %}

    <div class="app-card-body">
        <div class="table-responsive">
            <table class="table mb-0 text-left" id="{{ table_name | slugify }}">

                    <thead>
                    <tr>
                        <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Group Name</th>
                        <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Number of Members</th>
                        <th class="tx-10-force tx-mont tx-medium hidden-xs-down">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td class="valign-middle hidden-xs-down">{{ group.name }}</td>
                            <td class="valign-middle hidden-xs-down">{{ group.member_set.count }}</td>
                            <td class=" ">{% include 'shared/action_buttons.html' with object=group edit_url="edit-group" delete_url="delete-group" %}</td>
                        </tr>
                        {% include 'shared/delete-modal.html' with deleteObject=group deleteRoute='delete-group' %}

                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
{% endblock %}