<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-fullscreen modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form method="post">
                {% csrf_token %}
            <div class="modal-body">
          {% if errors %}
             <div class="alert alert-danger alert-style-light" role="alert">
                 {{errors | title}}
            </div>
            {% endif %}

                    <div class="row">
                    {% for field in form %}
                         <div class="col-sm-3 mb-4">
                            {{ field.label }}
                            {{ field }}
                         {% if field.errors %}
                             <div class="invalid-feedback">
                                  Please provide a valid city.
                             </div>
                         {% endif %}

                        </div>
                        {% endfor %}
                    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Create Member</button>
            </div>
                </form>
        </div>
    </div>
</div>
