          <div id="addlevymodal" class="modal fade">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content bd-0 tx-14">
                <div class="modal-header pd-x-20">
                  <h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Add Payment</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pd-20">
                  <p class="mg-b-5">
                      Add Contribution Levy Payment
                  </p>
                </div>
                  <form method="post" action="{%url 'pay-contribution-levy' member.id %}">
                      {%csrf_token%}
                      {% for field in form.hidden_fields %}
                          {{ field }}
                      {% endfor %}
                   <div class="row mg-5 pd-5">
                   {% for field in form.visible_fields %}
                           {{ field.label }}
                            {{ field }}
                        {% if field.errors %}
                             <div>
                                  {{field.errors}}
                             </div>
                         {% endif %}
                      {% endfor %}
                   </div>

                        <div class="modal-footer justify-content-center">
                  <button type="submit" class="btn btn-success tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium">Save</button>
                  <button type="button" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium" data-dismiss="modal">Close</button>
                </div>
                  </form>
              </div>
            </div><!-- modal-dialog -->
          </div><!-- modal -->
